<section data-ng-controller="ValuploadersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Valuploaders</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="valuploader in valuploaders" data-ng-href="#!/valuploaders/{{valuploader._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="valuploader.created | date:'medium'"></span>
				by
				<span data-ng-bind="valuploader.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="valuploader.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!valuploaders.$resolved || valuploaders.length">
    	No Valuploaders yet, why don't you <a href="/#!/valuploaders/create">create one</a>?
    </div>
</section>